---
import Layout from "../layouts/Layout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import UpgradePage from "../components/auth/UpgradePage.tsx";
---

<Layout title="Upgrade to Premium - The School Quiz">
  <SiteHeader />
  <main class="min-h-screen pt-24 pb-12">
    <UpgradePage client:only="react" />
  </main>
</Layout>

